html, body{
    margin:0px;
    padding:0px;
    height: 100%;
}

body {
    background-color: #fff;
    margin:0;
    font-family: 'Open Sans', 'BlinkMacSystemFont', -apple-system, 'Roboto', 'Lucida Sans';
    line-height: 1.4;
}

@media (min-width: 768px) {
    .container {
        padding: 0 130px !important;
    }
}
/*========================================
NAVBAR
========================================*/
.navbar-default {
    text-transform: uppercase;
    padding: 10px 0;
}

@media (min-width: 768px){
    .navbar-default {
        border-bottom: none;
        background: 0 0;
        padding: 5px 0;
    }
}
.navbar-nav > li > a,
.navbar-default .navbar-brand {
    color: #1a1a1a !important;
    font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-toggle{
    border: none !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #1a1a1a;
}

.navbar-default .navbar-nav > .active > a{
    border-bottom: 2px solid #EF2D56;
    background-color: transparent !important;
    padding-bottom: 5px;

}

.scrolled-nav {
    background: #fefefe;
    border: none;
    border-bottom: solid 1px #e0e0e0;
    -webkit-transition: background-color .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out,padding .5s ease-in-out;
    transition: background-color .5s ease-in-out,padding .5s ease-in-out;
}

/*========================================
HEADER
========================================*/
#intro {
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 0 !important;
}

@media (min-width: 768px){
    #intro {
        height: 100%;
    }
}

#intro .bx-wrapper,
#intro .bx-viewport,
#intro .home_slider{
    height:100% !important;
    border: none;
    margin-bottom: 0;
}

.bx-wrapper .bx-controls-direction a {
    z-index: 1 !important;
}

.slide_content{
    height:100%;
    position: relative;
    margin: 0 auto;
    overflow: auto;
    background-color: rgb(204, 204, 204);
}

.slide_content > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide_content h1{
    font-size: 15px;
    font-weight: 700;
}

/* position dots in carousel */
.flickity-page-dots {
    bottom:50px !important;
}

/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1 !important;
    background: transparent;
    border: 2px solid white;
    background: none !important;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white !important;
}

.flickity-prev-next-button{
    display: none;
}


/*=============================================
Section
===========================================>*/
section{
    padding: 25px 0;
    padding: 55px 0;
    text-align: center;
}

@media (min-width: 768px){
    section{
        padding: 55px 0;
    }
}

@media (min-width: 992px) {
    section{
        padding: 85px 0;
    }
}

.section-heading{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.286rem;
    color: #1a1a1a;
}

.section-subheading{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #1f1f1f;
    letter-spacing: -0.03em;
    font-style: normal;
    margin-bottom: 20px;
}

/*=======================================
SERVICES
========================================*/
.services,
.testimonies{
    margin-top: 30px;
    text-align: left;
}

.service,
.testimony {
    margin-bottom: 30px;
}

.service-content{
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.service-content img{
    display: block;
    width: 100%;
    height: auto;
}

.service-content h4,
.team-content h4,
.project-content h4,
.testimony-content h4,
.contact-content h4{
    margin-top:20px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #1f1f1f;
    font-family: 'Playfair Display', 'BlinkMacSystemFont', -apple-system, 'Roboto', 'Lucida Sans';
}

.service-content h4{
    font-size: 20px;
    text-align: left;
}

h2 {
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: 600;
}

.service-content p,
.team-content p.description,
.testimony-content p.testimony-text,
.contact-content p{
    font-size: 13px;
    line-height: 1.6;
    color: #505050;
    text-align: left;
}


/*=======================================
TEAM
========================================*/
#our_team, #testimonials{
    background-color: #f9f9f9;
}

#our_team .team-list {
    margin-top: 40px;
}

.team {
    border: none !important;
    margin-bottom: 35px;
}

.team-content img{
    display: block;
    width: 150px;
    height: 150px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.team-content p.position,
p.project-category{
    text-align: center;
}


.testimony-content h4{
    text-align: left;
    margin-bottom: 2px;

}
.testimony-content p.testimony-text{
    font-style: italic;
}

/*=======================================
PORTFOLIO
========================================*/
#portfolio{
}

.projects{
    text-align: left;
}

.project {
    margin-bottom: 30px;
}

.project-content{
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.project-content img{
    display: block;
    width: 100%;
    height: auto;
}

.project-content h4{
    margin-top:15px;
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 15px;
    color: #1a1a1a;
    text-transform: uppercase;
}

/* Filter controls */
.simplefilter{
    margin-top: 20px;
    margin-bottom: 20px;
}

.simplefilter div{
    cursor: pointer;
}

.simplefilter div.active p{
    color: #fff;
    background-color: #212121;
}

.simplefilter div p{
    border: 1px solid #212121;
    background-color: #fff;
    padding: .5rem 2rem;
    border-radius: 5px;
    text-transform: uppercase;
    color: #212121;
}

/*=======================================
CONTACT
========================================*/
.contact-wrapper{
    margin-top: 30px;
}
.contact-content {
    margin-bottom: 30px;
}

.contact-content p.contact-desc {
    margin-bottom: 20px;
}

.contact-content p.tel{
    margin-bottom: 0;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea{
    width: 100%;
    padding-left: 15px;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid rgb(224,224,224);
}

.contact-form textarea{
    padding-top: 10px;
}

.contact-form input {
    height: 40px;
}

.contact-form input[type="submit"] {
    border: 1px solid transparent;
    display: block;
    width: 30%;
    margin-top: 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 13px;
    background-color: rgb(218,105,101);
    color: #fff;
    cursor: pointer;
}

/*=======================================
FOOTER
========================================*/
.footer{
    width: 100%;
    height: 50px;
    padding-top: 15px;
}

.footer-text{
    font-size: 13px;
}

/*Small Devices, Tablets >=768 <992*/
@media only screen and (min-width : 768px) {
    .content-wrapper .content,
    .contact-box .contact-form-wrapper {
        width: 80%;
    }
}

/*Medium Devices, Desktops >= 992 & <1200*/
@media only screen and (min-width : 992px) {
    .content-wrapper .content,
    .contact-box .contact-form-wrapper{
        width: 60%;
    }
}

/*Large Devices, Wide Screens >= 1200*/
@media only screen and (min-width : 1200px) {
    .contact-box .contact-form-wrapper {
        width: 40%;
    }
}


/*=======================================
UNUSED
========================================*/
.overlay {
    background-color: rgba(51,51,51,0.30);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


